body{
    display: flex;
}
nav{
    width: 15%;
    height: 640px;
    background-color: pink;
}
#main{
    display: flex;
    flex-direction: column;
}
header{
    background-color: khaki;
    width: 1140px;
    height: 20%;
}
.apaya{
    display: flex;
    flex-direction: row;
}
article{
    width:840px;
    height: 385px;
    background-color: aquamarine;
}
aside{
    width: 300px;
    height: 385px;
    background-color: rgb(113, 148, 136);
}
footer{
    background-color: khaki;
    width: 1140px;
    height: 20%;
}