.box1{
    height: 600px;
    width: 20%;
    float: right;
    background-color: blue;
    border: 1px solid black;
    margin-right: 20px;
}

.box2{
    height: 600px;
    width: 20%;
    float: right;
    background-color: green;
    border: black 1px solid;
    margin-right: 75px;
}
.box3{
    height: 600px;
    width: 20%;
    float: right;
    background-color: rgb(255, 0, 0);
    border: black 1px solid;
    margin-right: 75px;
}
.box4{
    height: 600px;
    width: 20%;
    float: right;
    background-color: rgb(163, 180, 163);
    border: black 1px solid;
    margin-right: 75px;
}